#conference{
  /*  background-color: #000;
    background-image: url("image/bg.jpg");
    background-position: center;*/
    background: url("image/bg.jpg") center #333;
    width: 960px;
    height:200px;
}
#badge{
    border: 2px solid #333;
    display: block;
    text-align: center;
    width: 200px;
    /*添加线性渐变效果*/
    background-image: linear-gradient(to bottom, #fff, #eee);
    /*添加阴影*/
    box-shadow: 5px 5px 5px 0 #333;
    /*旋转效果*/
    transform: rotate(-7.5deg);
    /*使用矩阵方法精确旋转：transform: matrix(0.99144, -0.13052, 0.13052, 0.99144, 0, 0);*/
}
#info{
    display: block;
    height: 120px;
    width: 660px;
    margin: 20px;
    padding: 20px;
    /*设置透明效果*/
    background-color: rgba(255,255,255,0.95);
    /*设置圆角*/
    border-radius: 12px;
}
#badge ,#info{
    background-color: #fff;
    float: left;
}
#badge h2{
    margin: 0;
    color: #fff;
    background-color: #333;
}
#badge h3{
    margin: 0;
    font: italic 40px Arial;
    color: #333;
}
