/*
 *给表单设置简单的样式
 */
ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
ol li{
    clear: both;
    margin: 0 0 10px 0;
    padding: 0;
}
label{
    /*将label左对齐*/
    float: left;
    width: 150px;
}
input{
    /*border: 1px solid #333;*/
}
input:focus{
    /*通过:focus伪类，为当前的焦点字段设置样样式*/
    background-color: #ffe;
}

