/*
 *实现原理：设置一个div的border的四个方向为不同颜色，可以发现为四个梯形。设置div的width和height为0，则border由四个三角形组成
 *找到需要的某一方向border，设置其样式，最后添加另一个同一方向的border，通过设置其颜色为#fff来覆盖原来颜色
 */
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}
.tag{
    width: 200px;
    height: 300px;
    /*div水平居中*/
   /* position: absolute;
    left: 50%;
    margin-left: -100px;*/
    position: relative;
    margin: 50px auto;
    /*文字水平垂直居中*/
    text-align: center;
    line-height: 300px;
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
}
.tag:before , .tag:after{
    content: '';
    display: block;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #999 transparent;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -20px;
    left: 90px;
}
.tag:after{
    top: -18px;
    border-color: transparent transparent #fff transparent;
}
