html,body,div,p,span{
    padding: 0;
    margin: 0;

}
img{
    width: 80px;
    height: 80px;
}
.clearFix:after{
   /*content:'';display:block;height:0;overflow:hidden;clear:both;*/
    content: '';display: table;clear: both;
}
.clearFix{
    *zoom:1;
}

.box{
    padding: 20px;
    margin: 20px;
    background: #eee;
    border: 1px solid #999;
}
.left-box{
    float: left;
    border: 1px solid #999;
    width: 160px;
    background: #fff;
    padding: 20px;
}
.left-box span{

}
.team-logo{
    display: inline-block;/*作用非常大，要注意*/
    width: 80px;
    height: 80px;
}
.right-box{
    float: right;
    border: 1px solid #999;
    width: 120px;
    background: #fff;
}
.person-logo{
    width: 80px;
    height: 80px;
    margin: 20px;
}
.center-box{
    border: 1px solid #999;
    margin: 0 140px 0 220px;
    background: #fff;
}
.center-box p{
    margin: 20px 20px;
}
