body{
    margin: 0;
    padding:20px 0 0 20px; /*设置的padding与DIV中的margin互补，以达到间距相等的效果*/
    border: 1px solid #999;
}
.clearFix:after{
    content: "";
    display: table;
    clear: both;
}
.clearFix{
    *zoom: 1;
}
div{
    float: left;
    box-sizing: border-box; /*怪异模式下，border和padding都计算入div的宽度和高度*/
    margin: 0 20px 20px 0;
    padding: 10px;
    height: 50px;
    border: 1px solid #999;
    background: #eee;
}
@media screen and (min-width: 768px) {
    .num-zero{
        display: none;
    }
    .num{
        color: red;
    }
    /*使用calc动态计算div的布局，每一个后面减掉20px是由于每一个div多出来20px的margin-right*/
    .box1{
        width: calc(8.333333% - 20px);
    }
    .box2{
        width: calc(16.666666% - 20px);
    }
    .box3{
        width: calc(25% - 20px);
    }
    .box4{
        width: calc(33.333333% - 20px);
    }
    .box6{
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .num{
        display: none;
    }
    .num-zero{
        color: blue;
    }
    .box02{
        width: calc(16.666666% - 20px);
    }
    .box03{
        width: calc(25% - 20px);
    }
    .box06{
        width: calc(50% - 20px);
    }
    .box08{
        width: calc(66.666666% - 20px);
    }
    .box12{
        width: calc(100% - 20px);
    }
}
