table{
    border-collapse: collapse;
    width: 600px;
}
/*th , td{
    border: none;
}*/
th{
    background-color: #333;
    color: #fff;
}
/*找出每个偶数行，设置颜色*/
tr:nth-of-type(even){
    background-color: #f3f3f3;
}
/*找出每个奇数行，设置颜色*/
tr:nth-of-type(odd){
    background-color: #ddd;
}
/*除第一列外，其他所有列都右对齐*/
th:nth-child(n+2) , td:nth-child(n+2){
    text-align: right;
}
/*最后一行加粗*/
tr:last-child{
    font-weight: bolder;
}
/*最后一列加粗*/
td:last-child{
    font-weight: bolder;
}
/*最后一行的最后一列加粗*/
tr:last-child td:last-child{
    font-size: 24px;
}
/*倒数第二行设置颜色*/
tr:nth-last-child(2){
    color: green;
}
/*倒数三行右对齐*/
tr:nth-last-child(-n+3){
    text-align: right;
}
