*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Microsoft YaHei";
    background: #dedede;
    font-size: 14px;
}

/***********头部*************/
header{
    position: relative; /*子元素用绝对定位时，在父元素添加相对定位*/
    height: 60px;
    background: #333;
    min-width: 960px;
}
header h1 img{
    padding-left: 30px;
    height: 58px;
}
header ul{
    position: absolute;
    top:0;
    right: 10px;
}
header ul li{
    float: left;
    text-align: center;
    padding-right:20px;
    line-height:58px;
}
header ul li a{
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}
header ul li a:hover{
    color: #9a9a9a;
    border-bottom: 1px solid #ff0;
    border-radius: 3px;
}

/**************主体*********************/
article,aside{
    padding: 20px;
    margin: 20px;
    background: #fff;
    /*css3添加阴影的属性,依次表示正水平偏移量、正垂直偏移量、模糊半径、覆盖距离、阴影颜色，
     *如果指定第六个参数inset,则将阴影内置到元素方框里。默认为元素外部添加阴影
     */
    box-shadow: 1px 2px 2px 1px #848484;
}
article h2{
    padding: 10px 0;
}
article h3{
    padding: 5px 0;
    color:#808080;
    font-size: 16px;
}
.auther , .aTime{
    padding: 5px 5px 5px 0;
    color:#808080;
    font-size: 12px;
}
article p{
    text-indent: 2em;/*首行缩进*/
}
article img{
    width: 300px;
    height: 180px;
    padding: 10px 0;
}
article ul li{
    list-style: none;
    padding-left: 20px;
}
article dl dd{
    width: 120px;
    margin: 20px 40px;
    border: 1px solid #ccc;
}
article dl dd span{
    display:block;
    text-align: center;
    font-size: 12px;
    margin: 5px;
}
article dl dd img{
    width: 110px;
    height: 110px;
    padding: 5px;
}
article ol{
    margin: 10px 40px;
}
article table{
    width: 100%;
    border-collapse: collapse;/*设置表格的边框被合并为单一的边框*/
}
article table thead tr td{
    color: #fff;
    background: #333;
}
article table tr td{
    font-size: 12px;
    border: 1px solid #ccc;
    height: 25px;
}
article table .bottomTable{
    background: #ccc;
}

/**********侧栏***************/
aside h4{
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    border-left: 3px solid #ccc;
}
aside form div{
    font-size: 14px;
    margin: 15px 0;
}
aside form div .tips{
    float: left;  /*添加后个人描述四字才得以和文本域上对齐*/
    text-align: right;/*右对齐*/
    width: 35%;
    padding-right: 15px;
}
aside form div p{
    margin-left: 35%;/*与上面的width对齐*/
    padding-left: 15px;/*与上面的padding-right遥相辉映*/
    font-size: 12px;
    color: #aaa;
}
aside textarea{
    width: 50%;
    height: 100px;
}
aside .submitButton{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background: #128fac;
    color: #fff;
    font-size: 19px;
    border: none;
}
aside .submitButton:hover{
    background: #f0f;
}

/***********底部*************/
footer{
    width: 100%;
    height: 80px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 12px;

}